<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="environment" type="Winning.Framework.Infrastructure.Host.Configuration.EnvironmentSection, Winning.Framework.Infrastructure.Host, Version=5.5.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <environment>
        <copyright systemName="临床信息系统" systemVersion="5.5.0.13" customerId="01"
            customerName="重庆医科大学附属大学城医院" license="sY4ws293ywKO61iKmDULS98txXmcrVbmMSyJO0w6cgZRImZzHfUsAmunq1VMniVCiMyp3TY/+oLt2xzqM75aXw==" />
        <security userValidateType="NORM" passwordMinLenght="0" passwordNotContainUserCode="false"
            passwordContainLetterChar="false" passwordContainDigitalChar="false"
            passwordContainSpecialChar="false" passwordNewUnequalToOld="false"
            passwordMaxInputCount="0" passwordValidityPeriod="0" autoLockDesktopTickCount="0"
            autoExitApplicationTickCount="0" userLock="false" />
        <directories>
            <directory name="This4Directory" path="D:\Winning\this4_mz" />
        </directories>
        <modules>
            <module allowLogin="false" allowDatabase="false" name="H0" />
            <module allowLogin="false" allowDatabase="false" name="H1" />
            <module allowLogin="false" allowDatabase="false" name="H2" />
            <module allowLogin="false" allowDatabase="false" name="H3" />
            <module allowLogin="false" allowDatabase="false" name="H4" />
            <module allowLogin="false" allowDatabase="false" name="H5" />
            <module allowLogin="false" allowDatabase="false" name="H6" />
            <module allowLogin="false" allowDatabase="false" name="H7" />
            <module allowLogin="false" allowDatabase="false" name="H8" />
            <module allowLogin="false" allowDatabase="false" name="H9" />
            <module allowLogin="false" allowDatabase="false" name="HA" />
            <module allowLogin="false" allowDatabase="false" name="HB" />
            <module allowLogin="false" allowDatabase="false" name="HC" />
            <module allowLogin="false" allowDatabase="false" name="HD" />
            <module allowLogin="false" allowDatabase="false" name="HE" />
            <module allowLogin="false" allowDatabase="false" name="HF" />
            <module allowLogin="false" allowDatabase="false" name="HG" />
            <module allowLogin="false" allowDatabase="false" name="HH" />
            <module allowLogin="false" allowDatabase="false" name="HI" />
            <module allowLogin="false" allowDatabase="false" name="HJ" />
            <module allowLogin="false" allowDatabase="false" name="HL" />
            <module allowLogin="false" allowDatabase="true" name="HK" />
            <module allowLogin="false" allowDatabase="false" name="HM" />
            <module allowLogin="false" allowDatabase="false" name="HN" />
            <module allowLogin="false" allowDatabase="false" name="EMR" />
            <module allowLogin="false" allowDatabase="false" name="HP" />
            <module allowLogin="false" allowDatabase="false" name="HQ" />
            <module allowLogin="false" allowDatabase="false" name="HR" />
            <module allowLogin="false" allowDatabase="false" name="HS" />
            <module allowLogin="true" allowDatabase="true" name="HT" />
            <module allowLogin="false" allowDatabase="false" name="HRP" />
            <module allowLogin="false" allowDatabase="false" name="NIS" />
            <module allowLogin="false" allowDatabase="false" name="CDR" />
            <module allowLogin="false" allowDatabase="false" name="KB" />
            <module allowLogin="false" allowDatabase="false" name="PH" />
            <module allowLogin="false" allowDatabase="false" name="SPD" />
            <module allowLogin="false" allowDatabase="false" name="RIMS" />
            <module allowLogin="false" allowDatabase="false" name="OUTPEMR" />
            <module allowLogin="false" allowDatabase="false" name="CPOEEMR" />
            <module allowLogin="false" allowDatabase="false" name="IDMS" />
            <module allowLogin="false" allowDatabase="true" name="EDATA" />
            <module allowLogin="false" allowDatabase="true" name="RIS" />
            <module allowLogin="false" allowDatabase="true" name="LIS" />
            <module allowLogin="false" allowDatabase="true" name="THIS4" />
        </modules>
        <creators>
            <creator name="Winning.Common.Application.DepartmentInfo" />
            <creator name="Winning.Common.Application.WardInfo" />
            <creator name="Winning.Common.Application.Security.RoleInfo" />
            <creator name="Winning.Common.Application.Security.PostInfo" />
            <creator name="Winning.Common.Application.Security.UserInfo" />
            <creator name="Winning.Common.Application.Security.TitleInfo" />
            <creator name="Winning.Common.Application.ShortInputCodeInfo" />
            <creator name="Winning.Common.Application.UserConfigInfo" />
            <creator name="Winning.Common.Application.Navigate.NavigationNodeInfo" />
            <creator name="Winning.Common.Application.Charge.ChargeCategoryInfo" />
            <creator name="Winning.Common.Application.Charge.ClinicalChargeProjectInfo" />
            <creator name="Winning.Common.Application.Charge.SmallChargeProjectInfo" />
            <creator name="Winning.Common.Application.Level1DepartmentInfo" />
            <creator name="Winning.Common.Application.Level2DepartmentInfo" />
            <creator name="Winning.Model.Common.PUB_ZDDMK" />
            <creator name="Winning.Model.Common.PUB_BASECODE" />
            <creator name="Winning.Model.Common.PUB_YPCDMLK" />
            <creator name="Winning.Model.Outp.OUTP_KSNLTZYPXZK" />
            <creator name="Winning.Model.Outp.OUTP_MZYZYFK" />
            <creator name="Winning.Model.Outp.OUTP_MZYZPCK" />
            <creator name="Winning.Model.Common.PUB_SSKSDMK" />
            <creator name="Winning.Model.Common.PUB_SSTWK" />
            <creator name="Winning.Model.Common.PUB_SSMZK" />
            <creator name="Winning.Model.Common.PUB_QKDJK" />
            <creator name="Winning.Model.Common.PUB_SSDJDMK" />
            <creator name="Winning.Model.Common.PUB_SSBWK" />
            <creator name="Winning.Model.Common.PUB_SSZDK" />
            <creator name="Winning.Model.Outp.OUTP_XTZDB" />
            <creator name="Winning.Model.Outp.OUTP_CONFIG" />
            <creator name="Winning.Model.Common.PUB_YBFLK" />
            <creator name="Winning.Model.Common.PUB_CRBDMK" />
            <creator name="Winning.Model.Common.PUB_YFDMK" />
            <creator name="Winning.Model.Outp.OUTP_CZYZK" />
            <creator name="Winning.Model.Outp.OUTP_MZZQK" />
            <creator name="Winning.Model.Outp.OUTP_CYFYYF" />
            <creator name="Winning.Outp.DAL.DrugItem.DataObject.DrugItemInfo" />
            <creator name="Winning.Outp.RequestNote.Blood.DataObject.BloodNotePlan" />
            <creator name="Winning.Outp.RequestNote.Blood.DataObject.BloodTemplateGroup" />
            <creator name="Winning.Outp.RequestNote.Cure.DataObject.CureNotePlan" />
            <creator name="Winning.Outp.RequestNote.Cure.DataObject.CureTemplateGroup" />
            <creator name="Winning.Outp.RequestNote.Cure.DataObject.Specimen" />
            <creator name="Winning.Outp.DAL.RequestNote.FDataObject.ChargeRole" />
            <creator name="Winning.Outp.DAL.RequestNote.FDataObject.Department" />
            <creator name="Winning.Outp.DAL.RequestNote.FDataObject.DoctorSetting" />
            <creator name="Winning.Outp.DAL.RequestNote.FDataObject.ExtendRole" />
            <creator name="Winning.Outp.DAL.RequestNote.FDataObject.NoteConfig" />
            <creator name="Winning.Outp.DAL.RequestNote.FDataObject.TemplateBindingRole" />
            <creator name="Winning.Outp.DAL.RequestNote.FDataObject.TemplateMutexRole" />
            <creator name="Winning.Outp.DAL.RequestNote.FDataObject.TextTemplate" />
            <creator name="Winning.Outp.RequestNote.Lis.DataObject.LisNotePlan" />
            <creator name="Winning.Outp.RequestNote.Lis.DataObject.LisTemplateGroup" />
            <creator name="Winning.Outp.RequestNote.Lis.DataObject.Specimen" />
            <creator name="Winning.Outp.RequestNote.Pathology.DataObject.PathologyNotePlan" />
            <creator name="Winning.Outp.RequestNote.Pathology.DataObject.PathologyTemplateGroup" />
            <creator name="Winning.Outp.RequestNote.Ris.DataObject.RisNotePlan" />
            <creator name="Winning.Outp.RequestNote.Ris.DataObject.RisTemplateGroup" />
            <creator name="Winning.Model.Outp.OUTP_MZCYZD" />
            <creator name="Winning.Model.Common.PUB_ZDFLK" />
            <creator name="Winning.Model.Outp.OUTP_ZDFLDMK" />
            <creator name="Winning.Model.Outp.OUTP_MZBLZDSX" />
            <creator name="Winning.Model.Outp.OUTP_ZXFJK" />
            <creator name="Winning.Model.Outp.OUTP_ZXDMK" />
            <creator name="Winning.Model.Outp.OUTP_JZJLK" />
            <creator name="Winning.Model.Common.PUB_MZBRXXK_FZ" />
            <creator name="Winning.Model.Outp.OUTP_BRCGJL" />
            <creator name="Winning.Model.Common.PUB_PAGE_MENUSETTING" />
        </creators>
        <traces>
            <add name="TextLogger" trace="false" debug="false" information="false"
                warning="false" error="true" critical="true" performance="false" />
            <add name="DatabaseLogger" trace="false" debug="false" information="false"
                warning="false" error="false" critical="false" performance="true" />
        </traces>
        <desktop skin="Office 2016 Colorful" />
    </environment>
</configuration>