<XtraSerializer version="1.0" application="Appearances">
  <property name="Empty" iskey="true" value="Empty">
    <property name="BackColor">WhiteSmoke</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
    </property>
  </property>
  <property name="HideSelectionRow" iskey="true" value="HideSelectionRow">
    <property name="BackColor">233, 243, 255</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
    </property>
  </property>
  <property name="HeaderPanel" iskey="true" value="HeaderPanel">
    <property name="BorderColor">224, 224, 224</property>
    <property name="BackColor">241, 241, 241</property>
    <property name="ForeColor">51, 51, 51</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
      <property name="UseForeColor">true</property>
      <property name="UseBorderColor">true</property>
    </property>
  </property>
  <property name="EvenRow" iskey="true" value="EvenRow">
    <property name="BackColor">WhiteSmoke</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
    </property>
  </property>
  <property name="FocusedRow" iskey="true" value="FocusedRow">
    <property name="BackColor">233, 243, 255</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
    </property>
  </property>
  <property name="OddRow" iskey="true" value="OddRow">
    <property name="BackColor">White</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
    </property>
  </property>
  <property name="Row" iskey="true" value="Row">
    <property name="BackColor">White</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
    </property>
  </property>
  <property name="BandPanel" iskey="true" value="BandPanel">
    <property name="BorderColor">224, 224, 224</property>
    <property name="BackColor">241, 241, 241</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
      <property name="UseBorderColor">true</property>
    </property>
  </property>
  <property name="SelectedRow" iskey="true" value="SelectedRow">
    <property name="BackColor">233, 243, 255</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
    </property>
  </property>
  <property name="FocusedCell" iskey="true" value="FocusedCell">
    <property name="BackColor">233, 243, 255</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
    </property>
  </property>
  <property name="GroupRow" iskey="true" value="GroupRow">
    <property name="BackColor">White</property>
    <property name="Options" isnull="true" iskey="true">
      <property name="UseBackColor">true</property>
    </property>
  </property>
</XtraSerializer>