<XtraSerializer version="1.0" application="View">
  <property name="#LayoutVersion" />
  <property name="ChildGridLevelName" />
  <property name="GroupFormat">{0}: [#image]{1} {2}</property>
  <property name="ViewCaptionHeight">-1</property>
  <property name="PreviewFieldName" />
  <property name="VertScrollTipFieldName" />
  <property name="GroupRowHeight">23</property>
  <property name="FooterPanelHeight">-1</property>
  <property name="RowSeparatorHeight">0</property>
  <property name="ColumnPanelRowHeight">23</property>
  <property name="RowHeight">23</property>
  <property name="VertScrollVisibility">Auto</property>
  <property name="HorzScrollVisibility">Auto</property>
  <property name="ActiveFilterEnabled">true</property>
  <property name="ScrollStyle">LiveVertScroll, LiveHorzScroll</property>
  <property name="FocusRectStyle">CellFocus</property>
  <property name="HorzScrollStep">3</property>
  <property name="NewItemRowText" />
  <property name="GroupPanelText" />
  <property name="PreviewLineCount">-1</property>
  <property name="PreviewIndent">-1</property>
  <property name="LevelIndent">-1</property>
  <property name="OptionsCustomization" isnull="true" iskey="true">
    <property name="AllowSort">false</property>
    <property name="AllowGroup">false</property>
    <property name="AllowFilter">false</property>
  </property>
  <property name="DetailTabHeaderLocation">Top</property>
  <property name="Name">GridZd</property>
  <property name="BandPanelRowHeight">-1</property>
  <property name="Appearance" isnull="true" iskey="true">
    <property name="Empty" iskey="true" value="Empty">
      <property name="BackColor">White</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
      </property>
    </property>
    <property name="HideSelectionRow" iskey="true" value="HideSelectionRow">
      <property name="BackColor">233, 243, 255</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
      </property>
    </property>
    <property name="HeaderPanel" iskey="true" value="HeaderPanel">
      <property name="BorderColor">224, 224, 224</property>
      <property name="BackColor">241, 241, 241</property>
      <property name="ForeColor">51, 51, 51</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
        <property name="UseForeColor">true</property>
        <property name="UseBorderColor">true</property>
      </property>
    </property>
    <property name="EvenRow" iskey="true" value="EvenRow">
      <property name="BackColor">WhiteSmoke</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
      </property>
    </property>
    <property name="FocusedRow" iskey="true" value="FocusedRow">
      <property name="BackColor">233, 243, 255</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
      </property>
    </property>
    <property name="OddRow" iskey="true" value="OddRow">
      <property name="BackColor">White</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
      </property>
    </property>
    <property name="Row" iskey="true" value="Row">
      <property name="BackColor">222, 234, 246</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
      </property>
    </property>
    <property name="SelectedRow" iskey="true" value="SelectedRow">
      <property name="BackColor">233, 243, 255</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
      </property>
    </property>
    <property name="FocusedCell" iskey="true" value="FocusedCell">
      <property name="BackColor">233, 243, 255</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
      </property>
    </property>
    <property name="GroupRow" iskey="true" value="GroupRow">
      <property name="BackColor">222, 234, 246</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="UseBackColor">true</property>
      </property>
    </property>
  </property>
  <property name="DetailHeight">350</property>
  <property name="OptionsView" isnull="true" iskey="true">
    <property name="ShowGroupPanel">false</property>
    <property name="ShowColumnHeaders">false</property>
    <property name="ShowIndicator">false</property>
    <property name="EnableAppearanceEvenRow">true</property>
    <property name="EnableAppearanceOddRow">true</property>
  </property>
  <property name="MinBandPanelRowCount">1</property>
  <property name="Columns" iskey="true" value="19">
    <property name="Item1" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="Width">77</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">1</property>
      <property name="MinWidth">36</property>
      <property name="Caption">操作</property>
      <property name="Name">ColumnCz</property>
    </property>
    <property name="Item2" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Zddm</property>
      <property name="Width">107</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">5</property>
      <property name="Caption">代码</property>
      <property name="Name">ColumnZddm</property>
    </property>
    <property name="Item3" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Zdmc</property>
      <property name="Width">258</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">3</property>
      <property name="MinWidth">100</property>
      <property name="Caption">诊断名称</property>
      <property name="Name">ColumnZdmc</property>
    </property>
    <property name="Item4" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Fbrq</property>
      <property name="Width">235</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">6</property>
      <property name="MinWidth">100</property>
      <property name="Caption">发病日期</property>
      <property name="Name">ColumnFbrq</property>
    </property>
    <property name="Item5" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Cfzlb</property>
      <property name="Width">131</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">2</property>
      <property name="MinWidth">60</property>
      <property name="Caption">初复诊</property>
      <property name="Name">ColumnCfz</property>
    </property>
    <property name="Item6" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Isyb</property>
      <property name="Width">80</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">-1</property>
      <property name="MinWidth">80</property>
      <property name="Caption">疫报</property>
      <property name="Name">ColumnIsyb</property>
    </property>
    <property name="Item7" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Ismbbk</property>
      <property name="Width">80</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">-1</property>
      <property name="MinWidth">80</property>
      <property name="Caption">慢病报卡</property>
      <property name="Name">ColumnIsmbbk</property>
    </property>
    <property name="Item8" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Zxmc</property>
      <property name="Width">191</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">4</property>
      <property name="MinWidth">90</property>
      <property name="ShowButtonMode">ShowOnlyInEditor</property>
      <property name="Caption">所属症型</property>
      <property name="Name">ColumnZxmc</property>
    </property>
    <property name="Item9" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Ysmc</property>
      <property name="Width">202</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">7</property>
      <property name="MinWidth">80</property>
      <property name="OptionsFilter" isnull="true" iskey="true">
        <property name="AllowFilter">false</property>
        <property name="AllowAutoFilter">false</property>
      </property>
      <property name="OptionsColumn" isnull="true" iskey="true">
        <property name="AllowFocus">false</property>
        <property name="AllowEdit">false</property>
      </property>
      <property name="Caption">医生</property>
      <property name="Name">ColumnYsmc</property>
    </property>
    <property name="Item10" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Zdlb</property>
      <property name="Width">62</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">-1</property>
      <property name="OptionsColumn" isnull="true" iskey="true">
        <property name="AllowFocus">false</property>
        <property name="AllowEdit">false</property>
      </property>
      <property name="Caption">诊断类别</property>
      <property name="Name">ColumnZdlb</property>
    </property>
    <property name="Item11" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Zdsx</property>
      <property name="Width">139</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">-1</property>
      <property name="Caption">属性</property>
      <property name="Name">ColumnZdsx</property>
    </property>
    <property name="Item12" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Memo</property>
      <property name="Width">42</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">6</property>
      <property name="Caption">备注</property>
      <property name="Name">ColumnMemo</property>
    </property>
    <property name="Item13" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Sxdl</property>
      <property name="Width">20</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">-1</property>
      <property name="MinWidth">10</property>
      <property name="Caption">所属病种</property>
      <property name="Name">ColumnSxdl</property>
    </property>
    <property name="Item14" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Zzzf</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">-1</property>
      <property name="ShowButtonMode">ShowOnlyInEditor</property>
      <property name="Caption">治则治法</property>
      <property name="Name">ColumnZzzf</property>
    </property>
    <property name="Item15" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="Width">58</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">0</property>
      <property name="MinWidth">30</property>
      <property name="Caption">置顶</property>
      <property name="Name">ColumnCz2</property>
    </property>
    <property name="Item16" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Xwmc</property>
      <property name="Width">79</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">4</property>
      <property name="OptionsFilter" isnull="true" iskey="true">
        <property name="AllowFilter">false</property>
        <property name="AllowAutoFilter">false</property>
      </property>
      <property name="OptionsColumn" isnull="true" iskey="true">
        <property name="AllowFocus">false</property>
        <property name="AllowEdit">false</property>
      </property>
      <property name="Caption">西文名称</property>
      <property name="Name">ColumnXwmc</property>
    </property>
    <property name="Item17" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Ybzdmc</property>
      <property name="Width">109</property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">6</property>
      <property name="ShowButtonMode">ShowOnlyInEditor</property>
      <property name="Caption">医保诊断</property>
      <property name="Name">ColumnYbzd</property>
    </property>
    <property name="Item18" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="FieldName">Daicha</property>
      <property name="Width">57</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Visible">true</property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">4</property>
      <property name="Caption">待查</property>
      <property name="Name">ColumnDaiCha</property>
    </property>
    <property name="Item19" isnull="true" iskey="true">
      <property name="ColumnEditName" />
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Font">Tahoma, 11.25pt</property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseFont">true</property>
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Fixed">None</property>
      <property name="VisibleIndex">-1</property>
      <property name="Caption">CDSS知识库调用</property>
      <property name="Name">ColumnCdss</property>
    </property>
  </property>
  <property name="IndicatorWidth">-1</property>
  <property name="FixedLineWidth">2</property>
  <property name="ViewCaption" />
  <property name="BorderStyle">Default</property>
  <property name="SynchronizeClones">true</property>
  <property name="Bands" iskey="true" value="17">
    <property name="Item1" isnull="true" iskey="true">
      <property name="Columns" iskey="true" value="2">
        <property name="Item1">ColumnCz2</property>
        <property name="Item2">ColumnCz</property>
      </property>
      <property name="Caption">操作</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBand1</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">135</property>
    </property>
    <property name="Item2" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnIsyb</property>
      </property>
      <property name="Caption">疫报</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandYqsb</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">80</property>
    </property>
    <property name="Item3" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnIsmbbk</property>
      </property>
      <property name="Caption">慢病报卡</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandMbbk</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">80</property>
    </property>
    <property name="Item4" isnull="true" iskey="true">
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnCfz</property>
      </property>
      <property name="Caption">初复诊</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandCfz</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">131</property>
    </property>
    <property name="Item5" isnull="true" iskey="true">
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnZdmc</property>
      </property>
      <property name="Caption">诊断名称</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandZdmc</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">258</property>
    </property>
    <property name="Item6" isnull="true" iskey="true">
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnZxmc</property>
      </property>
      <property name="Caption">所属症型</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandSszx</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">191</property>
    </property>
    <property name="Item7" isnull="true" iskey="true">
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnZddm</property>
      </property>
      <property name="Caption">代码</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandZddm</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">107</property>
    </property>
    <property name="Item8" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnXwmc</property>
      </property>
      <property name="Caption">西文名称</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandXwmc</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">79</property>
    </property>
    <property name="Item9" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnDaiCha</property>
      </property>
      <property name="Caption">待查</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandDaiCha</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">57</property>
    </property>
    <property name="Item10" isnull="true" iskey="true">
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnFbrq</property>
      </property>
      <property name="Caption">发病日期</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandFbrq</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">235</property>
    </property>
    <property name="Item11" isnull="true" iskey="true">
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnYsmc</property>
      </property>
      <property name="Caption">医生</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandYsmc</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">202</property>
    </property>
    <property name="Item12" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnZdlb</property>
      </property>
      <property name="Caption">诊断类别</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandZdlb</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">62</property>
    </property>
    <property name="Item13" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnZdsx</property>
      </property>
      <property name="Caption">属性</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandZdsx</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">22</property>
    </property>
    <property name="Item14" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnMemo</property>
      </property>
      <property name="Caption">备注</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandMemo</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">42</property>
    </property>
    <property name="Item15" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnSxdl</property>
      </property>
      <property name="Caption">所属病种</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandSsbz</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">84</property>
    </property>
    <property name="Item16" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnZzzf</property>
      </property>
      <property name="Caption">治则治法</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandZzzf</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">47</property>
    </property>
    <property name="Item17" isnull="true" iskey="true">
      <property name="Visible">false</property>
      <property name="Columns" iskey="true" value="1">
        <property name="Item1">ColumnYbzd</property>
      </property>
      <property name="Caption">医保诊断</property>
      <property name="Children" iskey="true" value="0" />
      <property name="Name">gridBandYbzd</property>
      <property name="AppearanceHeader" isnull="true" iskey="true">
        <property name="TextOptions" isnull="true" iskey="true">
          <property name="HAlignment">Center</property>
        </property>
        <property name="Options" isnull="true" iskey="true">
          <property name="UseTextOptions">true</property>
        </property>
      </property>
      <property name="Width">109</property>
    </property>
  </property>
  <property name="FormatConditions" iskey="true" value="0" />
  <property name="ActiveFilterString" />
  <property name="GroupSummary" iskey="true" value="0" />
  <property name="GroupSummarySortInfoState" />
  <property name="FindFilterText" />
  <property name="FindPanelVisible">false</property>
</XtraSerializer>