<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="ReadMenuDetailInfoSystemGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
            <section name="plugin_0" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_1" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_10" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_11" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_12" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_13" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_14" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_15" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_16" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_17" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_18" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_19" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_2" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_20" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_21" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_22" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_23" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_24" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_25" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_26" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_27" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_28" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_29" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_3" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_30" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_31" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_32" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_33" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_34" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_35" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_36" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_37" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_38" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_39" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_4" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_40" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_41" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_42" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_43" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_44" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_45" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_46" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_47" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_48" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_49" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_5" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_50" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_51" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_6" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_7" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_8" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <section name="plugin_9" type="ThisFrameWork.Common.Library.Object.ConfigurationMenu, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </sectionGroup>
        <sectionGroup name="ReadMenuSysInfoSystemGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
            <section name="plugins" type="ThisFrameWork.Common.Library.Object.ConfigurationMenuSysInfo, ThisFrameWork.Common.Library.Object, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </sectionGroup>
    </configSections>
    <ReadMenuDetailInfoSystemGroup>
        <plugin_0 Caption="&amp;1手术工作" Menu="0" IsTitle="true" SysCode="8" />
        <plugin_1 Caption="&amp;1手术通知单" Menu="81001" Library="Winning.Ssxt.Sssqxg.dll"
            Function="fss_sssqadd" Class="Winning.Ssxt.Sssqxg.Integration"
            SysCode="8" />
        <plugin_10 Caption="&amp;6术中医嘱录入" Menu="81018" Library="Winning.Bqgl.Yzlr.dll"
            Function="fbq_yzlr_sss" Class="Winning.Bqgl.Yzlr.Integration"
            SysCode="8" />
        <plugin_11 Caption="&amp;7手术情况录入" Menu="81021" Library="Winning.Ssxt.Ssqklr.dll"
            Function="fss_ssqklr" Class="Winning.Ssxt.Ssqklr.Integration"
            SysCode="8" />
        <plugin_12 Caption="&amp;8手术病历编辑*" Menu="81024" Library="ss_ssjlmain.dll"
            Function="fbq_hlmain" SysCode="8" />
        <plugin_13 Caption="婴儿登记（手术）" Menu="81027" Library="Winning.Bqgl.Yedj.dll"
            Function="fbq_yedj_ss" Class="Winning.Bqgl.Yedj.Integration"
            SysCode="8" />
        <plugin_14 Caption="-" SysCode="8" />
        <plugin_15 Caption="&amp;A手术费用录入" Menu="81031" Library="Winning.Ssxt.Ssfylr.dll"
            Function="fss_ssfylr" Class="Winning.Ssxt.Ssfylr.Integration"
            SysCode="8" />
        <plugin_16 Caption="手术费用录入（无申请病人）" Menu="81032" Library="Winning.Ssxt.Ssfylr.dll"
            Function="fss_ssfylr_ks" Class="Winning.Ssxt.Ssfylr.Integration"
            SysCode="8" />
        <plugin_17 Caption="手术费用录入（按病历号）" Menu="81033" Library="Winning.Ssxt.Ssfylr.dll"
            Function="fss_ssfylr_ksye" Class="Winning.Ssxt.Ssfylr.Integration"
            SysCode="8" />
        <plugin_18 Caption="手术费用录入EX" Menu="81034" Library="Winning.Ssxt.Ssfylr.dll"
            Function="fss_ssfylr_ex" Class="Winning.Ssxt.Ssfylr.Integration"
            SysCode="8" />
        <plugin_19 Caption="手术费用录入（无申请病人_急诊）" Menu="81035" Library="Winning.Ssxt.Ssfylr.dll"
            Function="fss_ssfylr_ksjz" Class="Winning.Ssxt.Ssfylr.Integration"
            SysCode="8" />
        <plugin_2 Caption="手术通知单（简易录入）" Menu="81002" Library="Winning.Ssxt.Sssqxg.dll"
            Function="fss_sssqadd_jy" Class="Winning.Ssxt.Sssqxg.Integration"
            SysCode="8" />
        <plugin_20 Caption="麻醉安排" Menu="81036" Library="Winning.Ssxt.Ssap.dll"
            Class="Winning.Ssxt.Ssap.Integration" SysCode="8" />
        <plugin_21 Caption="&amp;B麻醉费用录入（无申请病人）" Menu="81041" Library="Winning.Ssxt.Ssfylr.dll"
            Function="fss_mzfylr_ks" Class="Winning.Ssxt.Ssfylr.Integration"
            SysCode="8" />
        <plugin_22 Caption="麻醉费用录入EX" Menu="81042" Library="Winning.Ssxt.Ssfylr.dll"
            Function="fss_mzfylr_ex" Class="Winning.Ssxt.Ssfylr.Integration"
            SysCode="8" />
        <plugin_23 Caption="麻醉费用录入（无申请病人_急诊）" Menu="81043" Library="Winning.Ssxt.Ssfylr.dll"
            Function="fss_mzfylr_ksjz" Class="Winning.Ssxt.Ssfylr.Integration"
            SysCode="8" />
        <plugin_24 Caption="-" SysCode="8" />
        <plugin_25 Caption="门诊手术预约登记" Menu="81049" Library="Winning.Ssxt.Mzssyy.dll"
            Function="fss_mzssyydj" Class="Winning.Ssxt.Mzssyy.Integration"
            SysCode="8" />
        <plugin_26 Caption="&amp;C门诊手术登记" Menu="81051" Library="Winning.Ssxt.Mzssdj.dll"
            Function="ss_mzssdj" Class="Winning.Ssxt.Mzssdj.Integration"
            SysCode="8" />
        <plugin_27 Caption="&amp;D门诊手术安排" Menu="81052" Library="Winning.Ssxt.Mzssap.dll"
            Function="fss_mzssap" Class="Winning.Ssxt.Mzssap.Integration"
            SysCode="8" />
        <plugin_28 Caption="&amp;E门诊手术费用录入" Menu="81053" Library="Winning.Ssxt.Mzfylr.dll"
            Function="fss_mzssfylr_all" Class="Winning.Ssxt.Mzfylr.Integration"
            SysCode="8" />
        <plugin_29 Caption="&amp;F门诊手术情况录入" Menu="81054" Library="Winning.Ssxt.Ssqklr.dll"
            Function="fss_mzssqklr" Class="Winning.Ssxt.Ssqklr.Integration"
            SysCode="8" />
        <plugin_3 Caption="&amp;2手术申请单审核（科室）" Menu="81005" Library="Winning.Ssxt.Sssh.dll"
            Function="fss_sssh_ks" Class="Winning.Ssxt.Sssh.Integration"
            SysCode="8" />
        <plugin_30 Caption="-" SysCode="8" />
        <plugin_31 Caption="&amp;手术汇总领药" Menu="81061" Library="Winning.Yjsf.Hzly.dll"
            Function="fss_hzly" Class="Winning.Yjsf.Hzly.Integration"
            SysCode="8" />
        <plugin_32 Caption="手术公药申请*" Menu="81062" Library="yf_gylysq.dll"
            Function="fyf_gylysq_ks_net" SysCode="8" />
        <plugin_33 Caption="&amp;2查询" Menu="33" IsTitle="true" SysCode="8" />
        <plugin_34 Caption="&amp;1手术查询" Menu="82001" Library="Winning.Ssxt.Cx.Sscx.dll"
            Function="fss_sscx" Class="Winning.Ssxt.Cx.Sscx.Integration"
            SysCode="8" />
        <plugin_35 Caption="&amp;2领药查询*" Menu="82003" Library="yf_zyfy_bd.dll"
            Function="fyj_zyfy_fydbd_net" SysCode="8" />
        <plugin_36 Caption="病区消耗查询*" Menu="82004" Library="yf_zyfy_bd.dll"
            Function="fks_zyfy_fydbd" SysCode="8" />
        <plugin_37 Caption="手术病人病历查询*" Menu="82005" Library="bq_ys_blcx.dll"
            Function="fblcx_Ssbr" SysCode="8" />
        <plugin_38 Caption="-" SysCode="8" />
        <plugin_39 Caption="门诊手术查询" Menu="82011" Library="Winning.Ssxt.Cx.Sscx.dll"
            Function="fss_sscx_mz" Class="Winning.Ssxt.Cx.Sscx.Integration"
            SysCode="8" />
        <plugin_4 Caption="手术申请单审核（病区医生）" Menu="81006" Library="Winning.Ssxt.Sssh.dll"
            Function="fss_sssh_ys" Class="Winning.Ssxt.Sssh.Integration"
            SysCode="8" />
        <plugin_40 Caption="门诊手术预约查询" Menu="82012" Library="Winning.Ssxt.Mzssyy.dll"
            Function="fss_mzssyycx" Class="Winning.Ssxt.Mzssyy.Integration"
            SysCode="8" />
        <plugin_41 Caption="&amp;3报表" Menu="41" IsTitle="true" SysCode="8" />
        <plugin_42 Caption="&amp;1外挂报表*" Menu="83001" Library="dorep.dll"
            Function="showorep" SysCode="8" />
        <plugin_43 Caption="&amp;4设置" Menu="43" IsTitle="true" SysCode="8" />
        <plugin_44 Caption="&amp;1手术麻醉协定设置" Menu="84001" Library="Winning.Ssxt.Sz.Ssmzxdf.dll"
            Function="fss_sfmbdy" Class="Winning.Ssxt.Sz.Ssmzxdf.Integration"
            SysCode="8" />
        <plugin_45 Caption="&amp;2手术麻醉科室对应设置" Menu="84002" Library="Winning.Ssxt.Sz.Ssmzdy.dll"
            Function="ShowSsmzdy" Class="Winning.Ssxt.Sz.Ssmzdy.Integration"
            SysCode="8" />
        <plugin_46 Caption="&amp;3手术麻醉人员操作设置" Menu="84003" Library="Winning.Ssxt.Sz.Ssmzrycz.dll"
            Function="fss_ssrylb" Class="Winning.Ssxt.Sz.Ssmzrycz.Integration"
            SysCode="8" />
        <plugin_47 Caption="&amp;4手术职位权限设置" Menu="84012" Library="Winning.Ssxt.Sz.Ssqxkzsz.dll"
            Function="fyy_sszwqx_ex" Class="Winning.Ssxt.Sz.Ssqxkzsz.Integration"
            SysCode="8" />
        <plugin_48 Caption="&amp;5手术权限设置" Menu="84013" Library="Winning.Ssxt.Sz.Ssqxsz.dll"
            Function="fss_ssqxsz" Class="Winning.Ssxt.Sz.Ssqxsz.Integration"
            SysCode="8" />
        <plugin_49 Caption="&amp;6手术权限控制" Menu="84014" Library="Winning.Ssxt.Sz.Ssqxkz.dll"
            Function="fyy_sszwqx" Class="Winning.Ssxt.Sz.Ssqxkz.Integration"
            SysCode="8" />
        <plugin_5 Caption="手术审核" Menu="81003" Library="Winning.Ssxt.Sssh.dll"
            Function="fss_sssh" Class="Winning.Ssxt.Sssh.Integration"
            SysCode="8" />
        <plugin_50 Caption="消息提示*" Menu="84021" Library="messager.dll"
            Function="f_messager" SysCode="8" />
        <plugin_51 Caption="门诊手术预约设置" Menu="84022" Library="Winning.Ssxt.Mzssyy.dll"
            Function="fss_mzssyysz" Class="Winning.Ssxt.Mzssyy.Integration"
            SysCode="8" />
        <plugin_6 Caption="&amp;3麻醉协议书" Menu="81009" Library="Winning.Ssxt.Mzxys.dll"
            Function="fss_mzxys" Class="Winning.Ssxt.Mzxys.Integration"
            SysCode="8" />
        <plugin_7 Caption="&amp;4手术安排" Menu="81011" Library="Winning.Ssxt.Ssap.dll"
            Function="fss_ssap" Class="Winning.Ssxt.Ssap.Integration"
            SysCode="8" />
        <plugin_8 Caption="手术安排（深圳）" Menu="81012" Library="Winning.Ssxt.Ssap.dll"
            Function="fss_ssap_sz" Class="Winning.Ssxt.Ssap.Integration"
            SysCode="8" />
        <plugin_9 Caption="&amp;5手术信息录入" Menu="81015" Library="Winning.Ssxt.Ssxxlr.dll"
            Function="fss_ssxxlr" Class="Winning.Ssxt.Ssxxlr.Integration"
            SysCode="8" />
    </ReadMenuDetailInfoSystemGroup>
    <ReadMenuSysInfoSystemGroup>
        <plugins Title="手术室管理系统" SysCode="8" SysItemCount="52" />
    </ReadMenuSysInfoSystemGroup>
    <system.web>
        <trust level="Full" />
        <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    </system.web>
</configuration>